* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f1f3f4;
}

.app {
  display: flex;
  height: 95vh;
  margin: 20px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.compose {
  background: #2563eb;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.compose:hover {
  background: #1d4ed8;
}

.menu li {
  list-style: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.menu li:hover {
  background: rgba(255,255,255,0.1);
}

.badge {
  background: #f59e0b;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 12px;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

.search {
  width: 100%;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.search:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 10px rgba(37,99,235,0.2);
}

/* Content */
.content {
  display: flex;
  flex: 1;
}

/* Emails */
.emails {
  flex: 3;
  padding: 20px;
}

.tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #f9fafb;
  font-weight: 600;
}

th, td {
  padding: 14px;
  border-bottom: 1px solid #eee;
}

tbody tr {
  cursor: pointer;
  transition: 0.3s;
}

tbody tr:hover {
  background: #e0f2fe;
}

/* Right Panel */
.right {
  flex: 1;
  border-left: 1px solid #ddd;
  padding: 20px;
  background: #f9fafb;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

#noteInput {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#addNoteBtn {
  width: 100%;
  padding: 8px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addNoteBtn:hover {
  background: #1d4ed8;
}
/* Active sidebar */
.menu li.active {
  background: rgba(255,255,255,0.2);
}

/* Selected email */
.selected {
  background: #dbeafe !important;
}

/* Star style */
.star {
  cursor: pointer;
  color: gray;
  margin-left: 10px;
}

.star.active {
  color: gold;
}

/* Delete button */
.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}